[pricedb]
user = USRE
password = PASSWORD
host = localhost
database = DATABASE_NAME


[chaindb]
db_name = chain-scrape
db_user = qrl
db_pass = blockchain
db_host = localhost

[walletd]
url = http://127.0.0.1:5359/api

